/* 기본 스타일 */
body {
  font-family: 'Netflix Sans', Arial, sans-serif;
  background-color: #000000;
  color: #fff;
  margin: 0;
  padding: 0;
}

.header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: #010101;
  color: rgb(246, 236, 241);
  padding: 5px 10px;
  position: fixed;
  top: 0;
  z-index: 1000;
  box-sizing: border-box;
}

.logo-container {
  margin-top: 60px;
  display: flex;
  align-items: center;
  width: auto;
}

.logo {
  width: 150px;
  height: auto;
  cursor: pointer;
}

.category-container {
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 1rem;
  text-decoration: none;
  cursor: pointer;
}

.category {
  margin: 0 15px;
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  transition: color 0.3s, font-weight 0.3s;
}

.category.active {
  font-weight: bold;
  font-size: 1.5rem;
}

.icons-container {
  display: flex;
  align-items: center;
}

.icon {
  font-size: 1.5rem;
  color: #fff;
  margin-left: 10px;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.icon svg {
  width: 24px;
  height: 24px;
}

/* 화면 크기에 따른 스타일 변경 */

@media (max-width: 768px) {
  .header {
    height: 80px;
    padding: 5px 10px;
  }

  .logo-container {
    margin-top:50px;
  }

  .logo {
    width: 130px;
  }

  .category-container {
    font-size: 1rem;
  }

  .category {
    font-size: 1.1rem;
    margin: 0 10px;
  }

  .category.active {
    font-size: 1.3rem;
  }

  .icon {
    font-size: 1.3rem;
  }

  .icon svg {
    width: 22px;
    height: 22px;
  }
}

@media (max-width: 576px) {
  .header {
    height: 70px;
    padding: 5px 5px;
  }

  .logo-container {
    margin-top:40px;
  }

  .logo {
    width: 110px;
  }

  .category-container {
    font-size: 0.9rem;
  }

  .category {
    font-size: 1rem;
    margin: 0 8px;
  }

  .category.active {
    font-size: 1.2rem;
  }

  .icon {
    font-size: 1.2rem;
  }

  .icon svg {
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 480px) {
  .header {
    height: 65px;
    padding: 5px 5px;
  }

  .logo {
    width: 100px;
  }

  .logo-container {
    margin-top:40px;
  }

  .category-container {
    font-size: 0.9rem;
  }

  .category {
    font-size: 1rem;
    margin: 0 6px;
  }

  .category.active {
    font-size: 1.1rem;
  }

  .icon {
    font-size: 1.1rem;
  }

  .icon svg {
    width: 18px;
    height: 18px;
  }
}

@media (max-width: 375px) {
  .header {
    height: 60px;
    padding: 5px 5px;
  }

  .logo {
    width: 90px;
  }

  .category-container {
    font-size: 0.9rem;
  }

  .category {
    font-size: 0.9rem;
    margin: 0 6px;
  }

  .category.active {
    font-size: 1rem;
  }

  .icon {
    font-size: 1rem;
  }

  .icon svg {
    width: 16px;
    height: 16px;
  }
}
