.header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  width: 100px;
  height: 20px;
  background-color: #333;
  color: rgb(246, 236, 241);
  padding: 5px 10px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  color: #d731b9;
  cursor: pointer;
}

.category-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  text-decoration: none;
  cursor: pointer;
}

.category {
  margin: 0 15px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.2rem;
}

.icons-container {
  display: flex;
  align-items: center;
}

.icon {
  font-size: 1.5rem;
  color: #fff;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.icon svg {
  width: 24px;
  height: 24px;
}

/* 반응형 스타일 */
@media (max-width: 576px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .logo-container {
    margin-bottom: 10px;
  }

  .category-container {
    margin-bottom: 10px;
  }

  .icons-container {
    justify-content: flex-start;
  }
}
