/* 전체 스타일 */
body {
  font-family: 'Netflix Sans', Arial, sans-serif;
  background-color: #030303;
  color: #fff;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* 추가된 부분 */

}

/* 트레일러 컨테이너 스타일 */
.trailer-container {
  position: relative;
  height: 80vh;
  overflow: hidden;
  margin-top: 0px;
}

.trailer-container video {
  margin-top: 90px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain; /* 비디오가 잘리지 않고 보여지도록 설정 */
  background-color: #000; /* 비디오 주변에 검은색 배경 추가 */
}

.trailer-container .trailer-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.trailer-container .trailer-overlay h1 {
  font-size: 4rem;
  margin-bottom: 10px;
}

/* 섹션 컨테이너 스타일 */
.my-watched-vods-container,
.youtube-trends-container,
.popular-vods-container,
.rating-based-vods-container,
.spotify-container {
  padding: 10px 0; /* 패딩을 조정하여 섹션 간 간격 조정 */
  background-color: #000000;
}

/* 제목 스타일 */
.my-watched-vods-container h2,
.youtube-trends-container h2,
.popular-vods-container h2,
.rating-based-vods-container h2,
.spotify-container h2 {
  font-size: 24px;
  margin-bottom: 10px; /* 제목과 포스터 사이의 간격 조정 */
  color: #f7f1f1;
  padding-left: 10px; /* 좌측 패딩 추가 */

}

/* VOD 컨테이너 스타일 */
.vod-container {
  margin: 0; /* 좌우 마진 조정 */
  display: inline;

}

/* VOD 슬라이더 스타일 */
.vod-slider {
  display: flex;
  gap: 20px; /* 포스터 간의 간격 추가 */
  overflow-x: auto;
  scroll-behavior: smooth;
  padding-left: 10px; /* 좌측 패딩 추가 */
  margin: 0;
}

.vod-slider::-webkit-scrollbar {
  display: none; /* 슬라이드 바 숨기기 */
}

.vod-slider {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.vod-item {
  flex: 0 0 auto;
  text-align: center;
}

.vod-item img {
  display: block;
  margin: 0 auto;
  width: 180px; /* 포스터 크기 조정 */
  height: 270px; /* 포스터 크기 조정 */
  cursor: pointer;
  /* border-radius: 5px; 포스터에 둥근 모서리 추가 */
}

.vod-item p {
  margin-top: 20px; /* 포스터와 제목 사이의 간격 조정 */
  color: #f7f1f1;
  font-size: 14px;
  text-align: center;
}

/* 반응형 스타일 */
@media (max-width: 1200px) {
  .vod-item img {
    width: 160px;
    height: 260px;
  }
}

@media (max-width: 992px) {
  .vod-item img {
    width: 140px;
    height: 260px;
  }
  .trailer-container {
    margin-top: 0px; /* 추가된 부분 */
  }
}

@media (max-width: 768px) {
  .vod-item img {
    width: 120px;
    height: 180px;
  }

  .trailer-container {
    margin-top: 0px; /* 추가된 부분 */
  }
}

@media (max-width: 576px) {
  .vod-item img {
    width: 100px;
    height: 150px;
  }

  .trailer-container {
    margin-top: 0px;
  }
}