.movie-detail-page {
  padding-top: 0; /* 헤더와의 겹침 방지 */
}

.movie-detail-container {
  padding-top: 60px; /* 컨테이너 아래로 약간의 공간 추가 */
  padding-left: 20px;
  padding-right: 20px;
}

.movie-header {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.movie-poster {
  width: 200px;
  height: auto;
  border-radius: 10px;
  margin-right: 20px;
}

.movie-info {
  max-width: 800px;
  position: relative;
}

.movie-info h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.movie-info p {
  margin-bottom: 10px;
}

.playlist-button {
  position: absolute;
  top: 10px; /* 버튼 위치를 아래로 이동 */
  right: -20px; /* 버튼 위치를 오른쪽으로 이동 */
  background: none;
  border: none;
  font-size: 1.5rem; /* 버튼 크기를 작게 조정 */
  cursor: pointer;
  width: 30px; /* 버튼 가로길이 */
  height: 30px; /* 버튼 세로길이 */
}


.movie-sections {
  margin-top: 20px;
}

.cast-section, .review-section, .related-movies-section {
  margin-bottom: 20px;
}

.cast-section ul, .related-movies-section ul {
  list-style: none;
  padding: 0;
}

.cast-section li, .related-movies-section li {
  margin-bottom: 10px;
}

.related-movies-section img {
  width: 100px;
  height: auto;
  border-radius: 5px;
  margin-right: 10px;
}
