.search-container {
  position: relative;
  display: flex;
  align-items: center;
}

.search-icon {
  font-size: 1.5rem;
  cursor: pointer;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.search-container.search-active .search-icon {
  transform: translateX(-20px); /* Adjust the movement distance */
}

.search-input {
  display: none;
  width: 0;
  padding: 5px 10px;
  font-size: 1rem;
  background-color: #333;
  color: #fff;
  border: 1px solid #555;
  border-radius: 5px;
  z-index: 1000;
  transition: width 0.3s ease, display 0s 0.3s;
}

.search-container.search-active .search-input {
  display: block;
  width: 200px;
  transition: width 0.3s ease;
}

/* 반응형으로 검색 입력 필드 크기 조정 */
@media (max-width: 1200px) {
  .search-container.search-active .search-input {
    width: 180px;
  }
}

@media (max-width: 992px) {
  .search-container.search-active .search-input {
    width: 160px;
  }
}

@media (max-width: 768px) {
  .search-container.search-active .search-input {
    width: 140px;
  }
}

@media (max-width: 576px) {
  .search-container.search-active .search-input {
    width: 30px;
  }
}

.close-icon {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
  margin-left: 10px;
  transition: opacity 0.3s ease;
}

.search-container.search-active .close-icon {
  display: block;
}

.search-results {
  position: absolute;
  top: 40px;
  right: 0;
  background-color: #333;
  color: #fff;
  width: 200px;
  border: 1px solid #555;
  border-radius: 5px;
  z-index: 1000;
  padding: 10px;
  max-height: 300px; /* Set a maximum height */
  overflow-y: auto; /* Enable vertical scrolling */
}

.search-results p {
  margin: 0;
  padding: 5px 0;
  cursor: pointer;
  font-size: 20px; /* Set default font size to 20px */
  transition: background-color 0.2s ease;
}

.search-results p:hover {
  background-color: #444;
}

/* Media Queries for responsive font size */
@media (max-width: 1200px) {
  .search-results p {
    font-size: 18px;
  }
}

@media (max-width: 992px) {
  .search-results p {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .search-results p {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .search-results p {
    font-size: 12px;
  }
}
