# node_modules 디렉토리
node_modules/

# 빌드 디렉토리
build/

# 로그 파일
*.log

# 환경 변수 파일
.env

# IDE와 에디터 설정 파일
.vscode/
.idea/

# 임시 파일
*.tmp
*.swp

# OS에 의해 생성된 파일
.DS_Store

# 잠금 파일 (선택 사항, 보통은 커밋합니다)
# package-lock.json
# yarn.lock
